h1 {
    width:100%;
    background-color: darkorange;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

body{
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

h2{
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    padding: 15px;
}

.chats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    margin: 0px;
}

.chat{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 15px;
    width:100%;
    justify-content: center;
    padding-left: 10px;
}

.chat:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.single-chat{
    margin: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 86.5%;
    padding-left: 10px;
}

#display{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 70vh;
    width:100%;
    gap: 2rem;
    /* border-width: 2px;
    border-style: solid;
    border-color: black; */
}

.message-recieved{
    background-color: white;
    border-color:silver;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    width:fit-content;
    margin: 10px;
}

.message-sent{
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
    float: right;
    width: fit-content;
    margin: 10px;;
}

#chat-display {
    width: 100%;
}

#username {
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: silver;
    border-style: solid;
}