header {
    width:100%;
    background-color: darkorange;
    margin: 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    
}

h1 {
    text-align: center;
    padding-left: 780px;
   
}

a{
    text-align: left;
    width: 100%;
    font-size: 1.5em;
    color: black;
    text-decoration:none;
}

a:hover{
    color: white;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#user-profile {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: auto;
    margin-top: 20px;
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

#username {
    margin: 5px;
}

#pronouns {
    color: silver;
    margin: 10px;
}

#name {
    display: flex;
    flex-direction: row;
}

button {
    border-color: silver;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    font-size: 1em;
}

button:hover{
    cursor: pointer;
}