
html {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.navbar img {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    padding: 10px;

}

.navbar h1 {
    float: left;
}
.navbar{
    margin:0px;
    background-color:darkorange;
    padding: 10px;
    
}
.explore-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    grid-template-areas: "a b c d",
                         "e f g h";
    margin: 55px;
    
}


#profile-1 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic1.jpg");
    background-size: cover;
    margin: 0px;
    height: 400px;
    width: 100%;
    grid-area: "a";
}


#profile-2 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic2.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "b";
}

#profile-3 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic3.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "c";
}

#profile-4 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic4.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "d";
}

#profile-5 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic5.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "e";
}

#profile-6 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic6.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "f";
}

#profile-7 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic7.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "g";
}

#profile-8 {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("images/profilepic8.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    grid-area: "h";
}

.enlarge:hover {
    transform: scale(1.02);
    cursor: pointer;

}

.collapsible {
    padding-left: 10px;
    color: white;
    font-size: 1.5rem;
    margin: 2px;

}

.content {
    padding-left: 10px;
    display: none;
    overflow: hidden;
    color: white;
    margin: 2px;
    width: 100%;
  }

  .container {
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    width: 100%;
  }

  ul{
      list-style: none;
  }
/* ---------------------------------------------------------- */
/* The sidebar menu */
.my-sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    display: flex;
    flex-direction: column;
    
  }

.my-sidebar  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }


.my-sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    /* padding: 10px 15px; */
    border: none;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    padding: 10px;
  }
  
.openbtn:hover {
    background-color: #444;
  }

#main {
    transition: margin-left .5s; 
    padding: 20px;
  }

@media screen and (max-height: 450px) {
    .cart {padding-top: 15px;}
    .cart a {font-size: 18px;}
  }

#side {
    display:flex;
    flex-direction: column;
  }

a:hover {
    color: darkorange;
}